---
layout: default
title: News
---

{% assign news = site.updates | sort: "date" | reverse %}

<section class="news">
  <div class="=news-list">
    {% for item in news %}
      <article class="news-card">
        <h4 class="news-heading">
          <span class="news-date">
            {{ item.date | date: "%d %b %Y" }}
          </span>
          <span class="news-title">
            {{ item.title }}
          </span>
        </h4>

        {% if item.content %}
          <p class="news-description">
            {{ item.content
              | markdownify
              | strip_html
              | strip_newlines
              | truncate: 400
            }}
          </p>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
